/* header {
  display: flex;
} */

.header {
  background-color: rgb(50, 167, 145);
  height: 50px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.trybewarts-header-logo {
  width: 50px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.space {
  margin: 10px;
}

#trybewarts-header-title {
 
}