.header {
  background-color: rgb(50, 167, 145);
  height: 50px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trybewarts-header-logo {
  width: 50px;
  justify-content: left;
}

.trybewarts-login {
  display: flex;
  align-items: left;
  flex-direction: row;
  padding: 10px;
  margin: 5px;
}

.trybewarts-login .forms {
  align-items: right;
  border-radius: 4px;
  border: none;
}

#button {
  background-color: rgb(95, 33, 87);
  color: white;
}

#trybewarts-header-title {
  color: white;
}
