body {
  margin: 0 auto;
  background-color: #efefef;
}

input, select {
  background-color: white;
  border: 0px;
  border-radius: 5px;
  width: auto;
}

select {
  width: 150px;
}

.header {
  background-color: rgb(50, 167, 145);
  height: 50px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trybewarts-header-logo {
  width: 50px;
  justify-content: left;
}

.trybewarts-login {
  display: flex;
  align-items: left;
  flex-direction: row;
  padding: 10px;
  margin: 5px;
}

.trybewarts-login .forms {
  align-items: right;
  border-radius: 4px;
  border: none;
}

#button {
  background-color: rgb(95, 33, 87);
  color: white;
}

#trybewarts-header-title {
  display: flex;
  color: white;
  justify-content: center;
}

p {
  display: flex;
  justify-content: center;
}

.container-main {
  display: flex;
  justify-content: center;
}

.container-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  max-width: 500px;
}

.dados-pessoais {
  border: solid 1px black;
  padding: 10px;
  display: flex;
  flex-basis: auto;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
}

.dados-parte-1 {
  width: 675px;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.dados-parte-2 {
  width: 675px;
  display: flex;
  justify-content: center;
}

.label {
  display: flex;
  justify-content: space-between;
  width: 178px;
}

#div-radio {
  display: block;
}

#div-master {
  display: flex;
}

#div-checkbox {
  display: block;
}

#div-agreed-checkbox {
  display: flex;
}

#label-infos {
  display: flex;
}

#submit-btn {
  background-color: rgb(95, 33, 87);
  color: white;
  border: none;
  border-radius: 4px;
}

#agreement {
  display: flex;
}

#div-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(54, 53, 53);
  color: white;
  height: 30px;
}
