* {
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
}

body {
  margin: 0 auto;
  background-color: rgb(235, 230, 230);
}

input, select {
  background-color: white;
  border: 0 auto;
  border-radius: 5px;
  width: auto;
}

select {
  width: 150px;
}

.header {
  background-color: rgb(50, 167, 145);
  height: 50px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trybewarts-header-logo {
  width: 50px;
  justify-content: left;
}

.trybewarts-login {
  display: flex;
  padding: 10px;
  margin-right: 100px;
  justify-content: space-between;
}

.trybewarts-login .forms {
  border-radius: 4px;
  border: none;
  margin-right: 10px;
}

#button {
  background-color: rgb(95, 33, 87);
  color: white;
}

#trybewarts-header-title {
  display: flex;
  color: white;
  justify-content: center;
}

p {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 0 auto;
  font-weight: 900;
}

.container-main {
  display: flex;
  justify-content: center;
}

.container-form {
  display: flex;
  flex-direction: column;
  width: 675px;
  margin-bottom: 30px;
}

#trybewarts-forms-logo {
  max-width: 500px;
}

.dados-pessoais {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.dados-parte-1 {
  width: 675px;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  padding: 10px 0;
}

.dados-parte-2 {
  width: 675px;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

#div-radio {
  display: block;
  width: 230px;
}

#label-family {
  font-size: 18px;
}

#label-content {
  font-size: 18px;
}

#div-master {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#div-checkbox {
  display: block;
  margin-bottom: 30px;
  width: 445px;
}

#div-agreed-checkbox {
  display: flex;
}

.div-rate {
  margin: 10px 0;
}

#label-infos {
  display: flex;
  margin-bottom: 10px;
}

#submit-btn {
  background-color: rgb(95, 33, 87);
  color: white;
  border: none;
  border-radius: 4px;
}

#agreement {
  display: flex;
}

#div-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(54, 53, 53);
  color: white;
  height: 30px;
}

.input-forms {
  width: 100%;
  margin: 0 2px;
  padding: 0 10px;
  height: 38px;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

#house {
  width: 100%;
  height: 38px;
}

.radio {
  display: flex;
  margin: 20px 0;
}

.checkbox {
  display: flex;
  margin: 20px 0;
}
#textarea {
  border: 1px solid rgb(95, 33, 87);
  border-radius: 3px;
}
